<h1><%= l(:title_alert_edit) %></h1>

<% form_for(@alert) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => {:f => f}  %>

  <p>
    <%= f.submit :button_update %>
  </p>
<% end %>

<%= link_to l(:button_show), @alert %> |
<%= link_to l(:button_back), alerts_path %>